body{
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
	color: black;
}

p, span, small{
	color: #888;
}

#box{
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	border: 2px solid #e7e7e7;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	background-color: #F8F8F8!important;
}

hr{
	margin: 20px;
	background-color: #eaeaea;
}

.topnav {
    background-color: lightgray;
    overflow: hidden;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #fc3e3e;
    color: #f2f2f2;
}

.topnav a.active {
    background-color: #ff0000;
    color: white;
}